
.navbar-fondo{
	background-color: #E9C41F;
	border-top: solid 20px black;
	text-align: center;

}

.navbar{
	margin: 30px 50px;
	text-align: center;
	font-size: 1.5em;
}

.logo-fundacion{
	max-width: 80px;
	display: inline-block;
	margin-left: 20px;
}

.container1{
	background-color: #E8B4AD;

}

.container-carousel {
	max-height: 300px;
	max-width: 400px;
	margin: 20px auto;
}

.foto1 .foto2 .foto3 {
	margin-top: 20px;
	text-align: center;
	border: 8px solid black;
	border-radius: 30px;
	padding-bottom: 30px;
	max-width: 100%;
}

.container-map{
	margin: 30px;
}

.money-footer {
	border: 2px solid #ededed;
	padding: 1vw;
	text-align: center;
	margin-top: 30px;
}

footer {
	text-align: center;
	background-color: #ededed;
	padding: 1vw;
}

footer p {
	margin-bottom: 0px;
}

.form-group {
	text-align: right;
}

.container-noticias{
	background-color: green;
	padding: 20px;
}
